/*长度*/
l(num)
	( num / 37.5 ) rem
lP(num)
	( num / 3.75 ) %
L(num)
	( num / 75 ) rem
LP(num)
	( num / 7.5 ) %
disP(num,all)
	100*( num / all ) %
/*font-size*/
fz(num)
	font-size ( num/37.5 )rem
/*color*/
colorB(num)
	rgba(0,0,0, num/100)

colorVip(num)
	rgba(79,75,90, num/100)

backgroundIcon( src )
	background:url( '../assets/img/'+src );
	background-size: 100% 100%;
	background-repeat: no-repeat;

disFlex()
	display flex
	justify-content space-between
	align-items center





